<%= form_with(model: reserf, local: true) do |form| %>
  <% if reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
      <% reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :personCount %>
    <%= form.text_field :personCount, id: :reserf_personCount %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments, id: :reserf_comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
