<%= form_with(model: [@restaurant, @schedule], local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <select name="schedule[weekDay]">
      <option value="Lunes">Lunes</option>
      <option value="Martes">Martes</option>
      <option value="Miércoles">Miércoles</option>
      <option value="Jueves">Jueves</option>
      <option value="Viernes">Viernes</option>
      <option value="Sábado">Sábado</option>
      <option value="Domingo">Domingo</option>
    </select>
  </div>


  <div class="field">
    <%= form.label :openingTime %>
    <%= form.time_select :openingTime, id: :schedule_openingTime %>
  </div>

  <div class="field">
    <%= form.label :closingTime %>
    <%= form.time_select :closingTime, id: :schedule_closingTime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
