<%= form_with(model: [@restaurant, @dish], local: true, html: {multipart: true}) do |form| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag @dish.image.thumb %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :dish_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :dish_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :dish_price, step: :any %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :dish_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

