<div class="container editHeader">
  <div class="col-md-12">
    <h1>Editar restaurante: <%= @restaurant.name %></h1>
  </div>
</div>

<div class="container">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to "Restaurante", edit_restaurant_path(@restaurant), :class => "list-group-item active" %>
      <%= link_to "Información", edit_restaurant_address_path(@restaurant, @restaurant.address), :class => "list-group-item" %>
      <%= link_to "Menú", restaurant_dishes_path(@restaurant), :class => "list-group-item" %>
      <%= link_to "Fotos", restaurant_photos_path(@restaurant), :class => "list-group-item" %>
      <%= link_to "Horarios", restaurant_schedules_path(@restaurant), :class => "list-group-item" %>
      <%= link_to "Volver", restaurant_path(@restaurant), :class => "list-group-item list-group-item-danger" %>
    </div>
  </div>

  <div class="col-md-9">
    <%= render 'form', restaurant: @restaurant %>
  </div>
</div>