<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @address.postalCode %>
</p>

<%= link_to 'Edit', [:edit, @address.restaurant, @address] %> |
<%= link_to 'Back', restaurant_path(@restaurant) %>
