<h2> Restaurantes que coinciden con la busqueda </h2>
<tbody>
<% if @restaurants.nil? ||@restaurants.empty? %>
  <p>No hay restaurantes que coincidan con la búsqueda</p>
<% else %>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant %></td>
      <td><%= restaurant.location %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <br/>
  <% end %>
<% end %>
<%= link_to 'Back', searches_path%>
</tbody>