<div class="container editHeader">
  <div class="col-md-12">
    <h1>Editar restaurante: <%= @restaurant.name %></h1>
  </div>
</div>

<div class="container">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to "Restaurante", edit_restaurant_path(@restaurant), :class => "list-group-item" %>
      <%= link_to "Información", edit_restaurant_address_path(@restaurant, @restaurant.address), :class => "list-group-item" %>
      <%= link_to "Menú", restaurant_dishes_path(@restaurant), :class => "list-group-item" %>
      <%= link_to "Fotos", restaurant_photos_path(@restaurant), :class => "list-group-item active" %>
      <%= link_to "Horarios", restaurant_schedules_path(@restaurant), :class => "list-group-item" %>
      <%= link_to "Volver", restaurant_path(@restaurant), :class => "list-group-item list-group-item-danger" %>
    </div>
  </div>

  <div class="col-md-9">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Imagen</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @photos.each do |photo| %>
        <tr rel="popover" data-img="<%= photo.image.smallCarrusel %>">
          <td><%= image_tag photo.image.thumb %></td>
          <td>
            <%= link_to [photo.restaurant, photo], method: :delete, data: {confirm: 'Are you sure?'} do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to "Nueva foto", new_restaurant_photo_path, :class=>"btn btn-default", "role" => "button" %>
  </div>
</div>